@{
	ViewData["Title"] = "UrunDetay";
	Layout = "~/Views/Shared/_Home.cshtml";
	int i = 0;
	int k = 0;
}
@model eticaret.Modeller.malzeme

<style>
	.numara__container {
		display: flex;
		flex-wrap: wrap;
		gap: 8px;
		margin-top: 8px;
	}

	.numara__item {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
	}

	.numara__input {
		display: none;
	}

	.numara__badge {
	display: inline-flex !important;
	align-items: center !important;
	justify-content: center !important;
	width: 36px !important;
	height: 30px !important;
	padding: 0 4px !important;
	border-radius: 3px;
	background-color: #f5f5f5;
	color: #333;
	font-weight: 600;
	font-size: 11px;
	border: 1px solid #ddd;
	cursor: pointer;
	transition: all 0.25s ease;
	box-sizing: border-box !important;
}

	.numara__item:hover .numara__badge {
		border-color: #999;
		background-color: #efefef;
		transform: none;
	}

	.numara__input:checked + .numara__badge {
		background-color: #d9534f;
		color: white;
		border-color: #d9534f;
		box-shadow: none;
	}
</style>
<!-- Product Details Section Begin -->

<section class="product-details spad">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<div class="product__details__pic">
					<div class="product__details__pic__left product__thumb nice-scroll">
						@foreach (var resim in Model.Urungorsellerim.OrderByDescending(x => x.Baslangic))
						{
							i++;
							var urunId = Model.Urunlerim.First().Id;
							if (resim.Baslangic == true)
							{
										<a class="pt active" href="#product-@i">
											<img src="@Url.Content("~/uploads/urunler/" + urunId + "/" + resim.Ad)" alt="">
										</a>
							}
							else
							{
										<a class="pt" href="#product-@i">
											<img src="@Url.Content("~/uploads/urunler/" + urunId + "/" + resim.Ad)" alt="">
										</a>
							}
						}
					</div>
					<div class="product__details__slider__content">
						<div class="product__details__pic__slider owl-carousel">
							@foreach (var yeni in Model.Urungorsellerim.OrderByDescending(x => x.Baslangic))
							{
								k++;
								var urunId = Model.Urunlerim.First().Id;
									<img data-hash="product-@k" class="product__big__img" src="@Url.Content("~/uploads/urunler/" + urunId + "/" + yeni.Ad)" alt="">
							}
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-6">
	<div class="product__details__text">
		<h3>
						@foreach (var urun in Model.Urunlerim)
						{
				<span id="productName">@urun.UrunAdi</span>
						}
			<span style="display: inline;">
				Marka:&nbsp;@foreach (var marka in Model.Urundetaylarım)
							{
				<span id="productBrand" style="display: inline;">@marka.Marka</span>
							}
			</span>
		</h3>
		<div class="rating">
			<i class="fa fa-star"></i>
			<i class="fa fa-star"></i>
			<i class="fa fa-star"></i>
			<i class="fa fa-star"></i>
			<i class="fa fa-star"></i>
			<span>( 138 reviews )</span>
		</div>
		<div class="product__details__price">
			@{
				var fiyat = Model.Urunlerim.FirstOrDefault();
				if (fiyat != null)
				{
					if (fiyat.IndirimliFiyat.HasValue && fiyat.IndirimliFiyat.Value > 0)
					{
				<!-- İndirimli fiyat - hidden input'ta sakla -->
				<input type="hidden" id="currentPrice" data-price="@fiyat.IndirimliFiyat.Value" />
						@:$@fiyat.IndirimliFiyat.Value
				<span>$@fiyat.Satis</span>
					}
					else
					{
				<!-- Normal fiyat - hidden input'ta sakla -->
				<input type="hidden" id="currentPrice" data-price="@fiyat.Satis" />
						@:$@fiyat.Satis
					}
				}
			}
	</div>
					@foreach (var acıklama in Model.Urunlerim)
					{
					<p>@acıklama.Aciklama</p>
					}
		<div class="product__details__button">
			<div class="quantity">
				<span>Adet:</span>
				<div class="pro-qty">
					<input type="text" id="quantityInput" value="1">
				</div>
			</div>
			<a href="javascript:void(0);" id="addToCartBtn" class="cart-btn">
				<span class="icon_bag_alt"></span>Sepete Ekle
			</a>
			<ul>
				<li><a href="#"><span class="icon_heart_alt"></span></a></li>
				<li><a href="#"><span class="icon_adjust-horiz"></span></a></li>
			</ul>
		</div>
		<div class="product__details__widget">
			<ul>
				<!-- RENK BÖLÜMÜ -->
				@foreach (var renklerim in Model.Urundetaylarım)
				{
					var renk = renklerim.Renk;
					if (!string.IsNullOrEmpty(renk))
					{
						var renkler = renk.Split(',');                       
				<li>
					<span>Mevcut Renk:</span>                                
					<div class="color__checkbox">
											@for (int p = 0; p < renkler.Length; p++)
											{
												var temizRenk = renkler[p].Trim();
												var renkId = "color_" + p;
							<label for="@renkId">
								<input type="radio" name="color__radio" class="color-radio" 
										id="@renkId" value="@temizRenk" @(p == 0 ? "checked" : "")>
								<span class="checkmark" style="background-color:@temizRenk;"></span>
							</label>
											}                                        
					</div>                                   
				</li>
								}
							}

				<!-- BEDEN BÖLÜMÜ -->
							@foreach (var bedenlerim in Model.Urundetaylarım)
							{
								var beden = bedenlerim.Beden;
								if (!string.IsNullOrEmpty(beden))
								{
									var bedenler = beden.Split(',');								
									<li>										
										<span>Mevcut Beden:</span>
										<div class="size__btn">
											@{
												int bedenIndex = 0;
											}
											@foreach (var bedenimiz in bedenler)
											{
												var temizBeden = bedenimiz.Trim();
												var bedenId = "size_" + bedenIndex;
												<label for="@bedenId">
													<input type="radio" name="size__radio" class="size-radio" 
														id="@bedenId" value="@temizBeden" 
													@(bedenIndex == 0 ? "checked" : "")>
													@temizBeden
												</label>
												bedenIndex++;
											}										
									</div>									
								</li>
								}
							}

								<!-- NUMARA BÖLÜMÜ -->
							@{
								var numaralarıGoster = new List<string>();
								foreach (var detay in Model.Urundetaylarım)
								{
									if (!string.IsNullOrEmpty(detay.Numara))
									{
										var nums = detay.Numara.Split(',');
										foreach (var n in nums)
										{
											if (!numaralarıGoster.Contains(n.Trim()))
												numaralarıGoster.Add(n.Trim());
										}
									}
								}
								numaralarıGoster = numaralarıGoster.OrderBy(x => int.Parse(x)).ToList();
							}

							@if (numaralarıGoster.Count > 0)
							{
								<li>
									<span>Mevcut Numara:</span>
									<div class="numara__container">
										@for (int o = 0; o < numaralarıGoster.Count; o++)
										{
															var numaraId = "numara_" + o;
										<label for="@numaraId" class="numara__item">
											<input type="radio" name="numara__radio" class="numara__input" 
												id="@numaraId" value="@numaralarıGoster[o]" 
																@(o == 0 ? "checked" : "")>
											<span class="numara__badge">@numaralarıGoster[o]</span>
										</label>
											}
									</div>	
								</li>
							}
							</ul>
		</div>
	</div>
</div>
			<div class="col-lg-12">
				<div class="product__details__tab">
					<ul class="nav nav-tabs" role="tablist">
						<li class="nav-item">
							<a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab">Açıklama</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab">Specification</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" data-toggle="tab" href="#tabs-3" role="tab">Reviews ( 2 )</a>
						</li>
					</ul>
					<div class="tab-content">
						<div class="tab-pane active" id="tabs-1" role="tabpanel">
							@foreach (var acıklama in Model.Urunlerim)
							{
								var acık = acıklama.Aciklama;
									<h6>Açıklama</h6>
									<p>@acık</p>
							}
						</div>
						<div class="tab-pane" id="tabs-2" role="tabpanel">
							<h6>Specification</h6>
							<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut loret fugit, sed
								quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt loret.
								Neque porro lorem quisquam est, qui dolorem ipsum quia dolor si. Nemo enim ipsam
								voluptatem quia voluptas sit aspernatur aut odit aut loret fugit, sed quia ipsu
								consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Nulla
							consequat massa quis enim.</p>
							<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
								dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,
								nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium
							quis, sem.</p>
						</div>
						<div class="tab-pane" id="tabs-3" role="tabpanel">
							<h6>Reviews ( 2 )</h6>
							<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut loret fugit, sed
								quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt loret.
								Neque porro lorem quisquam est, qui dolorem ipsum quia dolor si. Nemo enim ipsam
								voluptatem quia voluptas sit aspernatur aut odit aut loret fugit, sed quia ipsu
								consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Nulla
							consequat massa quis enim.</p>
							<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
								dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,
								nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium
							quis, sem.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12 text-center">
				<div class="related__title">
					<h5>RELATED PRODUCTS</h5>
				</div>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-6">
				<div class="product__item">
					<div class="product__item__pic set-bg" data-setbg="img/product/related/rp-1.jpg">
						<div class="label new">New</div>
						<ul class="product__hover">
							<li><a href="img/product/related/rp-1.jpg" class="image-popup"><span class="arrow_expand"></span></a></li>
							<li><a href="#"><span class="icon_heart_alt"></span></a></li>
							<li><a href="#"><span class="icon_bag_alt"></span></a></li>
						</ul>
					</div>
					<div class="product__item__text">
						<h6><a href="#">Buttons tweed blazer</a></h6>
						<div class="rating">
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
						</div>
						<div class="product__price">$ 59.0</div>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-6">
				<div class="product__item">
					<div class="product__item__pic set-bg" data-setbg="img/product/related/rp-2.jpg">
						<ul class="product__hover">
							<li><a href="img/product/related/rp-2.jpg" class="image-popup"><span class="arrow_expand"></span></a></li>
							<li><a href="#"><span class="icon_heart_alt"></span></a></li>
							<li><a href="#"><span class="icon_bag_alt"></span></a></li>
						</ul>
					</div>
					<div class="product__item__text">
						<h6><a href="#">Flowy striped skirt</a></h6>
						<div class="rating">
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
						</div>
						<div class="product__price">$ 49.0</div>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-6">
				<div class="product__item">
					<div class="product__item__pic set-bg" data-setbg="img/product/related/rp-3.jpg">
						<div class="label stockout">out of stock</div>
						<ul class="product__hover">
							<li><a href="img/product/related/rp-3.jpg" class="image-popup"><span class="arrow_expand"></span></a></li>
							<li><a href="#"><span class="icon_heart_alt"></span></a></li>
							<li><a href="#"><span class="icon_bag_alt"></span></a></li>
						</ul>
					</div>
					<div class="product__item__text">
						<h6><a href="#">Cotton T-Shirt</a></h6>
						<div class="rating">
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
						</div>
						<div class="product__price">$ 59.0</div>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-6">
				<div class="product__item">
					<div class="product__item__pic set-bg" data-setbg="img/product/related/rp-4.jpg">
						<ul class="product__hover">
							<li><a href="img/product/related/rp-4.jpg" class="image-popup"><span class="arrow_expand"></span></a></li>
							<li><a href="#"><span class="icon_heart_alt"></span></a></li>
							<li><a href="#"><span class="icon_bag_alt"></span></a></li>
						</ul>
					</div>
					<div class="product__item__text">
						<h6><a href="#">Slim striped pocket shirt</a></h6>
						<div class="rating">
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
						</div>
						<div class="product__price">$ 59.0</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Product Details Section End -->

<!-- Instagram Begin -->
<div class="instagram">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-2 col-md-4 col-sm-4 p-0">
				<div class="instagram__item set-bg" data-setbg="img/instagram/insta-1.jpg">
					<div class="instagram__text">
						<i class="fa fa-instagram"></i>
						<a href="#"> ashion_shop</a>
					</div>
				</div>
			</div>
			<div class="col-lg-2 col-md-4 col-sm-4 p-0">
				<div class="instagram__item set-bg" data-setbg="img/instagram/insta-2.jpg">
					<div class="instagram__text">
						<i class="fa fa-instagram"></i>
						<a href="#"> ashion_shop</a>
					</div>
				</div>
			</div>
			<div class="col-lg-2 col-md-4 col-sm-4 p-0">
				<div class="instagram__item set-bg" data-setbg="img/instagram/insta-3.jpg">
					<div class="instagram__text">
						<i class="fa fa-instagram"></i>
						<a href="#"> ashion_shop</a>
					</div>
				</div>
			</div>
			<div class="col-lg-2 col-md-4 col-sm-4 p-0">
				<div class="instagram__item set-bg" data-setbg="img/instagram/insta-4.jpg">
					<div class="instagram__text">
						<i class="fa fa-instagram"></i>
						<a href="#"> ashion_shop</a>
					</div>
				</div>
			</div>
			<div class="col-lg-2 col-md-4 col-sm-4 p-0">
				<div class="instagram__item set-bg" data-setbg="img/instagram/insta-5.jpg">
					<div class="instagram__text">
						<i class="fa fa-instagram"></i>
						<a href="#"> ashion_shop</a>
					</div>
				</div>
			</div>
			<div class="col-lg-2 col-md-4 col-sm-4 p-0">
				<div class="instagram__item set-bg" data-setbg="img/instagram/insta-6.jpg">
					<div class="instagram__text">
						<i class="fa fa-instagram"></i>
						<a href="#"> ashion_shop</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Instagram End -->

<!-- Hidden data -->
<input type="hidden" id="productId" value="@Model.Urunlerim.First().Id" />
@{
	var ilkGorsel = Model.Urungorsellerim.FirstOrDefault(x => x.Baslangic == true) ?? Model.Urungorsellerim.FirstOrDefault();
	var gorselYol = ilkGorsel != null ? Url.Content($"~/uploads/urunler/{Model.Urunlerim.First().Id}/{ilkGorsel.Ad}") : "";
}
<input type="hidden" id="productImage" value="@gorselYol" />

@section Scripts {
	<script>
				$(document).ready(function() {
			// Radyo buton değiştiğinde log yap
			$('input[type="radio"]').on('change', function() {
				console.log('Seçili Renk:', $('input[name="color__radio"]:checked').val());
				console.log('Seçili Beden:', $('input[name="size__radio"]:checked').val());
				console.log('Seçili Numara:', $('input[name="numara__radio"]:checked').val());
			});

			// Sepete ekleme
			$('#addToCartBtn').click(function(e) {
				e.preventDefault();

				var productId = parseInt($('#productId').val());
				var productName = $('#productName').text().trim();
				var productBrand = $('#productBrand').text().trim();
				var price = parseFloat($('#currentPrice').data('price'));
				var quantity = parseInt($('#quantityInput').val()) || 1;
				var imageUrl = $('#productImage').val();

				var selectedColor = $('input[name="color__radio"]:checked').val() || '';
				var selectedSize = $('input[name="size__radio"]:checked').val() || '';
				var selectedNumara = $('input[name="numara__radio"]:checked').val() || '';

				console.log('Gönderilen Veriler:');
				console.log('Renk:', selectedColor);
				console.log('Beden:', selectedSize);
				console.log('Numara:', selectedNumara);

				if (quantity <= 0) {
					alert('Lütfen geçerli bir miktar girin!');
					return;
				}

				$.ajax({
					url: '@Url.Action("SepeteEkle", "Home")',
					type: 'POST',
					data: {
						productId: productId,
						productName: productName,
						brand: productBrand,
						price: price,
						imageUrl: imageUrl,
						quantity: quantity,
						color: selectedColor,
						size: selectedSize,
						numara: selectedNumara
					},
					success: function(response) {
						if(response.success) {
							$('#cartCount').text(response.totalItems);
							$('#cartCountMobile').text(response.totalItems);

							if(response.totalItems > 0) {
								$('#cartCount').show();
								$('#cartCountMobile').show();
							}

							alert('Ürün sepete eklendi! ✓');
						}
					},
					error: function(xhr, status, error) {
						console.error('Hata:', error);
						alert('Bir hata oluştu. Lütfen tekrar deneyin.');
					}
				});
			});
		});
	</script>
}
